h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: #4d4d4d;
}

p {
    color: #6f9953f6;
}

body {
    font-family: 'Roboto Mono', monospace;
    /* background-color: #939ba079; */
    margin: 0px;
}

li {
    display: inline-block;
    padding: 10px;
}

.container {
  width: 700px;
  padding: 40px 0;
  margin: 0 auto;
}

.background-image {
  background-image: url('images/background.jpg');
  background-size: cover;
  padding: 40px;
}

.profile-img {
    width: 8em;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #939ba079;
    transition: transform .7s ease-in-out;

}

.profile-img:hover{
    transform: rotate(360deg);
}

.card {
    border-color: rgb(224, 186, 217);
    padding: 40px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    margin: 20px 0px;
    text-align: center;
    background-color: #262626;
}

.card:nth-child(1){
  margin: 0;
}

.fab {
    font-size: 50px;
    padding: 30px;
    text-decoration: none;
    color: #52616B;
}

.fab:hover {
    color: #fad0ef;
    box-shadow: 1em;

}

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .card {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .card {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .card {
      width: 300px;
    }
  }

  